$colors: (
  primary-darker: #0a47b7,
  primary: #147dff,
  primary-light: #72bdff,
  accent-1: #4ece63,
  accent-2: #c83465,
  white: #ffffff,
  gray-dark: #597196,
  gray: #8fa3bf,
  gray-light: #b0bfd4,
  gray-lighter: #d3dce8,
  gray-lightest: #f5f7fa,
  dark: #2e476e,
  black: #000000
);

@function color($color) {
  @return map-get($colors, $color);
}
