$colors: (
  primary-darker: #885bb8,
  primary-dark: #915fc7,
  primary: #9967ce,
  primary-light: #cfb7ff,
  primary-lighter: #e2d3ff,
  accent-1: #a8c0f9,
  white: #ffffff,
  gray-dark: #575757,
  gray: #7f7f7f,
  gray-light: #c0c0c0,
  gray-lighter: #e0e0e0,
  gray-lightest: #f8f6f6,
  dark: #333333,
  black: #000000
);

@function color($color) {
  @return map-get($colors, $color);
}
