$shadow: rem-calc(0) rem-calc(8) rem-calc(24) color(gray-lighter);

$shadow--sm: rem-calc(0) rem-calc(4) rem-calc(8) color(gray-lighter);

$shadow--dark: rem-calc(0) rem-calc(8) rem-calc(24)
  rgba(
    $color: color(gray),
    $alpha: 0.56
  );

$shadow-top: rem-calc(-8) 0 rem-calc(32)
  rgba(
    $color: color(gray),
    $alpha: 0.5
  );
