.button {
  padding: rem-calc(10) rem-calc(32);
  font-size: rem-calc(16);
  border: 0;
  font-weight: bold;
  border-radius: rem-calc(4);
  transition: 0.3s ease-in-out;
  outline: none;
  &.ant-btn-primary {
    border: none;
  }

  @include breakpoint(large up) {
    padding-right: rem-calc(48);
    padding-left: rem-calc(48);
  }

  &--primary {
    outline: none;
    background-color: color(primary);
    color: color(white);

    &:hover {
      cursor: pointer;
      background-color: color(primary-darker);
    }

    &.ant-btn-primary {
      border: none;
    }
  }

  &--round {
    padding: rem-calc(0);
    height: rem-calc(48);
    width: rem-calc(48);
    border-radius: rem-calc(24);
  }
}
