.form {
  .form-group {
    padding: rem-calc(12) rem-calc(0);
  }

  .form-group > div:not(:last-child) {
    padding-right: rem-calc(12);
  }

  label {
    margin: rem-calc(12);
    font-size: rem-calc(16);
    margin-bottom: rem-calc(8);
  }

  .form-action {
    width: 100%;
  }
}
