.input {
  border: rem-calc(1) solid lighten(color(gray-light), 10);
  position: relative;
  padding: rem-calc(8) rem-calc(12);
  margin: rem-calc(8) initial;

  input {
    background-color: transparent;
    outline: none;
    width: 100%;
    font-size: rem-calc(16);
  }

  &__autocomplete-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: color(white);
    width: 100%;
    z-index: 1;
    border: rem-calc(1) solid color(gray-lighter);

    :nth-child(odd) {
      background-color: color(gray-lightest);
    }
  }

  &__autocomplete-suggestion {
    font-size: rem-calc(14);
    margin: 0;
    padding: rem-calc(8) rem-calc(12);

    &:hover {
      background-color: color(primary-lightest);
    }
  }
}
