.results-container {
  position: absolute;
  background-color: color(white);
  right: 0;
  height: calc(100vh - #{rem-calc(52)});
  top: 0;
  z-index: 2;
  box-shadow: $shadow-top;
  overflow-y: hidden;
  padding: rem-calc(32) rem-calc(32) rem-calc(8) rem-calc(32);

  .results {
    margin: rem-calc(8) 0;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: rem-calc(4) !important;
    }
  }

  .add-stop-form {
    position: absolute;
  }

  .fab-container {
    z-index: 1;
    position: absolute;
    right: rem-calc(24);
    bottom: rem-calc(24);

    .button--round {
      box-shadow: $shadow--dark;

      &:hover {
        cursor: pointer;
        box-shadow: none;
      }
    }
  }
}
