.bus-stops {
  // padding-left: rem-calc(8);
  padding-right: rem-calc(16);

  .bus-stop {
    margin-bottom: rem-calc(16);
    padding: rem-calc(8);
    box-shadow: $shadow--sm;
    border: rem-calc(1) solid color(gray-lightest);
    background-color: color(white);
    border-radius: rem-calc(8);
    transition: 0.3s ease-in-out;

    &:hover {
      border-color: color(gray-lighter);
      box-shadow: none;
      cursor: default;
    }

    &__map-container {
      cursor: pointer;
      margin-top: rem-calc(8);
      margin-bottom: rem-calc(8);
      position: relative;
      height: rem-calc(128);

      > .LazyLoad {
        background: linear-gradient(to right, #818181, #d8d8d8);
        -webkit-animation: image-loader 1s ease infinite;
        -moz-animation: image-loader 1s ease infinite;
        animation: image-loader 1s ease-in-out infinite;
        height: 100%;
        transition: 0.56s ease-in-out;
      }
      > * > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__map {
      transition: 0.56s ease-in-out;
      overflow: hidden;
      height: 100%;
      opacity: 0;

      &--loaded {
        opacity: 1;
      }

      &--loading {
        opacity: 0;
      }
    }

    p {
      margin: 0;
    }

    .icon-container {
      padding: 0 rem-calc(4);
      cursor: pointer;
      margin-left: rem-calc(8);
    }
  }
}

@-webkit-keyframes image-loader {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes image-loader {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes image-loader {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
