@each $padding in (1, 2, 3) {
  .padding-#{$padding} {
    padding: #{$padding}rem;
  }
  .padding-top-#{$padding} {
    padding-top: #{$padding}rem;
  }
  .padding-bottom-#{$padding} {
    padding-bottom: #{$padding}rem;
  }
  .padding-right-#{$padding} {
    padding-bottom: #{$padding}rem;
  }
  .padding-left-#{$padding} {
    padding-bottom: #{$padding}rem;
  }
}

$sections: (
  sm: 1,
  md: 2,
  lg: 3
);

@each $type, $size in $sections {
  .section--#{$type} {
    padding-top: $size;
    padding-bottom: $size;
  }
}
